{{>header}}

<div class="container my-3 py-2 bg-light ">
<h4 class="my-4 text-dark text-center"> Requirents for using this API</h4>
<ul>
    <li>Mongodb should be installed</li>
    <li>Mongoose should be installed</li>
    <li>Mysql</li>
</ul>
</div>

<div class="container bg-light">
<h4 class="text-center py-4">Process to Follow</h4>
<div class="row my-4 p-3 ">
    <div class="col-sm-12 col-md-4 p-2">
        <h4 class="text-center">Open Remote Mysql</h4>
        <ul>
        <li>open your c pannel and click on Remote Mysql </li>

    </div>
    <div class="col-sm-12 col-md-7" >
        <img class="image-fluid w-100 h-100 " src="./images/remoteipadd/remote2.png" alt="Remote"/>
    </div>
    <div class="row my-4 p-3 ">
        <div class="col-sm-12 col-md-4 p-2 order-md-2 order-sm-0">
        <h4 class="text-center">Add Ip address</h4>
        <ul>
            <li>Ip Address = {{ip}}</li>
        <li>And then add these ip address to Host box </li>
    </div>
    <div class="col-sm-12 col-md-7 order-md-1 order-sm-3" >
        <img class="image-fluid w-100 h-100 " src="./images/remoteipadd/remote.png" alt="Remote"/>
    </div>
    </div>
    <div class="row my-4 p-3 ">
        <div class="col-sm-12 col-md-4 p-2 ">
        <h4 class="text-center">Form</h4>
        <ul>
            <li>Fill the Form Properly</li>
        
    </div>
    <div class="col-sm-12 col-md-7 " >
        <img class="image-fluid w-100 h-100 border border-dark" src="./images/form1.png" alt="Remote"/>
    </div>
    </div>
    <div class="row my-4 p-3 ">
        <div class="col-sm-12 col-md-4 p-2 order-md-2 order-sm-0">
        <h4 class="text-center">Submit</h4>
        <ul>
            <li>After filling all the details correctly click on the submit button</li>
            <li>Wait until the webpage complites the process and Returns the Output as Json Data</li>
        
    </div>
    <div class="col-sm-12 col-md-7 order-md-1 order-sm-3" >
        <img class="image-fluid w-100 h-100 border border-dark" src="./images/form2.png" alt="Remote"/>
    </div>
    </div>
    <div class="row my-4 p-3">
        <div class="col-md-12">
            <h1 class="text-center">Sample OutPut</h1>
        </div>
        <img class="col-md-5 my-2 mr-auto p-0 border border-dark " src="./images/output.png" alt="Remote">
        <img class="col-md-5 my-2 ml-auto p-0 border border-dark " src="./images/output2.png" alt="Remote">
    </div>
</div>
</div>

<script src="./js/requirments.js" type="text/javascript"></script>
{{>footer}}